# Imports and Settings

In [1]:
import os
import sys

import ipywidgets
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

/tmp/ipykernel_420960/3380158342.py:7: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Loading

In [2]:
%%time
df = pd.read_csv("../data/SBAnational.csv")

<timed exec>:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 3.31 s, sys: 541 ms, total: 3.85 s
Wall time: 3.85 s

# Overview

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      899164 non-null  int64
 1   Name               899150 non-null  object
 2   City               899134 non-null  object
 3   State              899150 non-null  object
 4   Zip                899164 non-null  int64
 5   Bank               897605 non-null  object
 6   BankState          897598 non-null  object
 7   NAICS              899164 non-null  int64
 8   ApprovalDate       899164 non-null  object
 9   ApprovalFY         899164 non-null  object
 10  Term               899164 non-null  int64
 11  NoEmp              899164 non-null  int64
 12  NewExist           899028 non-null  float64
 13  CreateJob          899164 non-null  int64
 14  RetainedJob        899164 non-null  int64
 15  FranchiseCode      899164 non-null  int64
 16  UrbanRural         899164 non-null  int64
 17  RevLineCr          894636 non-null  object
 18  LowDoc             896582 non-null  object
 19  ChgOffDate         162699 non-null  object
 20  DisbursementDate   896796 non-null  object
 21  DisbursementGross  899164 non-null  object
 22  BalanceGross       899164 non-null  object
 23  MIS_Status         897167 non-null  object
 24  ChgOffPrinGr       899164 non-null  object
 25  GrAppv             899164 non-null  object
 26  SBA_Appv           899164 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 185.2+ MB

# Fix Anomalies

In [4]:
def amount_to_float(s: str) -> float:
    """Converts a 'string' amount in $ to its float value"""
    return float(s[1:].replace(',', ''))

In [5]:
df.ChgOffPrinGr = df.ChgOffPrinGr.map(amount_to_float)

In [6]:
df.query("MIS_Status == 'P I F' and ChgOffPrinGr > 0")

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
558,1004176005,GREENLIFE MOBILE,SAN JOSE,CA,95132,BBCN BANK,CA,561730,7-Feb-06,2006,...,0,N,19-Oct-09,28-Feb-06,"$5,000.00",$0.00,P I F,3330.0,"$5,000.00","$4,250.00"
850,1005925000,GILLIAN'S DELICATESSEN & CATER,FLORAL PARK,NY,11001,JPMORGAN CHASE BANK NATL ASSOC,IL,722320,26-Mar-03,2003,...,N,N,29-Mar-06,31-Mar-03,"$15,000.00",$0.00,P I F,10270.0,"$15,000.00","$7,500.00"
853,1005936010,TRICAS MANAGEMENT SERVICES LLC,DALLAS,TX,75218,WELLS FARGO BANK NATL ASSOC,SD,621511,8-Feb-06,2006,...,Y,N,2-Feb-09,31-Mar-06,"$165,553.00",$0.00,P I F,97486.0,"$100,000.00","$50,000.00"
861,1005986003,CAPITAL EXPLOSION GRAPHIC DESI,UPPER MARLBORO (MARLBORO),MD,20774,BBCN BANK,CA,541430,8-Feb-06,2006,...,0,N,14-Aug-12,28-Feb-06,"$10,000.00",$0.00,P I F,2310.0,"$10,000.00","$8,500.00"
866,1006016007,C-BARB AND CONLEY PROMOTIONAL,HOUSTON,TX,77057,BBCN BANK,CA,421450,8-Feb-06,2006,...,0,N,1-Jun-09,28-Feb-06,"$5,000.00",$0.00,P I F,3783.0,"$5,000.00","$4,250.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895467,9913513005,INFINITE TECH. CORPORATION,RICHARDSON,TX,75080,LEGACYTEXAS BANK,TX,541512,23-Jan-97,1997,...,N,N,29-Dec-11,31-May-97,"$441,000.00",$0.00,P I F,6462.0,"$441,000.00","$330,750.00"
895669,9918003004,"ANRO INSULATION, INC.",STAFFORD,VA,22554,MANUFACTURERS & TRADERS TR CO,MD,235420,24-Jan-97,1997,...,N,Y,22-Mar-00,19-Feb-97,"$50,000.00",$0.00,P I F,46165.0,"$50,000.00","$40,000.00"
897114,9950351001,CLUB 191,PORTSMOUTH,IA,51565,NaN,NaN,0,24-Jul-78,1978,...,N,N,23-Nov-88,6-Dec-78,"$65,000.00",$0.00,P I F,20878.0,"$65,000.00","$48,750.00"
897735,9963813010,"J.T. AUTOMOTIVE SERVICES, LLC",SOUTHINGTON,CT,6489,"TD BANK, NATIONAL ASSOCIATION",DE,0,13-Feb-97,1997,...,N,Y,26-Apr-06,31-May-97,"$60,000.00",$0.00,P I F,17236.0,"$60,000.00","$48,000.00"
898966,9991623009,"WHEELER INVESTMENTS, INC.",KENNESAW,GA,30144,BRANCH BK. & TR CO,GA,445310,26-Feb-97,1997,...,0,N,9-Oct-98,31-Mar-97,"$45,000.00",$0.00,P I F,30002.0,"$45,000.00","$36,000.00"

In [7]:
df.MIS_Status.unique()

array(['P I F', 'CHGOFF', nan], dtype=object)

In [8]:
anomalies = (df.MIS_Status == 'P I F') & (df.ChgOffPrinGr > 0)
df.loc[anomalies, "MIS_Status"] = "CHGOFF"

# Removing Leaking Features

In [9]:
target_leaking_cols = [
    "ChgOffDate", "ChgOffPrinGr",
    "DisbursementDate", "DisbursementGross", "BalanceGross",
]
df = df.drop(columns = target_leaking_cols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   LoanNr_ChkDgt  899164 non-null  int64
 1   Name           899150 non-null  object
 2   City           899134 non-null  object
 3   State          899150 non-null  object
 4   Zip            899164 non-null  int64
 5   Bank           897605 non-null  object
 6   BankState      897598 non-null  object
 7   NAICS          899164 non-null  int64
 8   ApprovalDate   899164 non-null  object
 9   ApprovalFY     899164 non-null  object
 10  Term           899164 non-null  int64
 11  NoEmp          899164 non-null  int64
 12  NewExist       899028 non-null  float64
 13  CreateJob      899164 non-null  int64
 14  RetainedJob    899164 non-null  int64
 15  FranchiseCode  899164 non-null  int64
 16  UrbanRural     899164 non-null  int64
 17  RevLineCr      894636 non-null  object
 18  LowDoc         896582 non-null  object
 19  MIS_Status     897167 non-null  object
 20  GrAppv         899164 non-null  object
 21  SBA_Appv       899164 non-null  object
dtypes: float64(1), int64(9), object(12)
memory usage: 150.9+ MB

# Detailed Cleaning

## `City` (will be droped)

Because we aren't able to manage it properly without NLP.

## `State` (manage missing)

In [10]:
df.State.isna().sum()

14

In [11]:
df = df.dropna(subset=['State'])

## `Regions`

In [12]:
REGIONS = {
    "AL": "Southeast",
    "AK": "Northwest",
    "AZ": "Southwest",
    "AR": "Southeast",
    "CA": "Southwest",
    "CO": "Southwest",
    "CT": "Northeast",
    "DC": "Northeast",
    "DE": "Northeast",
    "FL": "Southeast",
    "GA": "Southeast",
    "HI": "Northwest",
    "ID": "Northwest",
    "IL": "Northeast",
    "IN": "Northeast",
    "IA": "Northwest",
    "KS": "Northwest",
    "KY": "Southeast",
    "LA": "Southeast",
    "ME": "Northeast",
    "MD": "Northeast",
    "MA": "Northeast",
    "MI": "Northeast",
    "MN": "Northwest",
    "MS": "Southeast",
    "MO": "Northwest",
    "MT": "Northwest",
    "NE": "Northwest",
    "NV": "Northwest",
    "NH": "Northeast",
    "NJ": "Northeast",
    "NM": "Southwest",
    "NY": "Northeast",
    "NC": "Southeast",
    "ND": "Northwest",
    "OH": "Northeast",
    "OK": "Southwest",
    "OR": "Northwest",
    "PA": "Northeast",
    "RI": "Northeast",
    "SC": "Southeast",
    "SD": "Northwest",
    "TN": "Southeast",
    "TX": "Southwest",
    "UT": "Northwest",
    "VT": "Northeast",
    "VA": "Southeast",
    "WA": "Northwest",
    "WV": "Southeast",
    "WI": "Northwest",
    "WY": "Northwest"
}

In [13]:
df["Region"] = df.State.map(REGIONS)

## `Zip` (will be droped)

## `Bank` (encode NaN)

In [14]:
df.Bank = df.Bank.fillna("Missing")

## `BankState` (encode NaN)

In [15]:
df.BankState = df.BankState.fillna("Missing")

## Add `SameState`

In [16]:
df["SameState"] = (df.State == df.BankState)

## `NAICS`

In [17]:
NAICS_MAPPING = {
    "0": "Missing",
    "11": "AgricultureForestryFishingAndHunting",
    "21": "MiningQuarryingAndOilAndGasExtraction",
    "22": "Utilities",
    "23": "Construction",
    "31": "Manufacturing",
    "32": "Manufacturing",
    "33": "Manufacturing",
    "42": "WholesaleTrade",
    "44": "RetailTrade",
    "45": "RetailTrade",
    "48": "TransportationAndWarehousing",
    "49": "TransportationAndWarehousing",
    "51": "Information",
    "52": "FinanceAndInsurance",
    "53": "RealEstateAndRentalAndLeasing",
    "54": "ProfessionalScientificAndTechnicalServices",
    "55": "ManagementOfCompaniesAndEnterprises",
    "56": "AdministrativeAndSupportAndWasteManagementAndRemediationServices",
    "61": "EducationalServices",
    "62": "HealthCareAndSocialAssistance",
    "71": "ArtsEntertainmentAndRecreation",
    "72": "AccommodationAndFoodServices",
    "81": "OtherServicesExceptPublicAdministration",
    "92": "PublicAdministration"
}

def map_NAICS_to_cats(n: int) -> str:
    """Map a NAICS integer to its counterpart category"""
    cat_digits = str(n)[:2]
    return NAICS_MAPPING.get(cat_digits)

In [18]:
df.NAICS = df.NAICS.map(map_NAICS_to_cats)

## `ApprovalDate` (Feature Engineering)

### Transtype to `datetime`

In [19]:
df.ApprovalDate = pd.to_datetime(df.ApprovalDate, format="%d-%b-%y")

### Create New Date Features

In [20]:
df['ApprovalMonth'] = df.ApprovalDate.dt.month
df['ApprovalDoW'] = df.ApprovalDate.dt.dayofweek

## `ApprovalFY` (Feature Engineering)

In [21]:
df.ApprovalFY = df.ApprovalFY.astype("str")

# According to National Bureau of Economic Research
# This is valid until 2023...
RECESSION_PERIODS = [
    (1969, 1970),
    (1973, 1975),
    (1980, 1980),
    (1981, 1982),
    (1990, 1991),
    (2001, 2001),
    (2007, 2009),
    (2020, 2020),  # Including the COVID-19 pandemic recession
]

def is_year_a_recession(year_str: str) -> bool:
    try:
        year = int(year_str)
    except ValueError:
        year = int(year_str[:-1])
    return any(start <= year <= end for start, end in RECESSION_PERIODS)

df["Recession"] = df.ApprovalFY.map(is_year_a_recession)

In [22]:
df.sample()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,MIS_Status,GrAppv,SBA_Appv,Region,SameState,ApprovalMonth,ApprovalDoW,Recession
187330,2329516003,NORRIS INTERESTS LLC,PLANO,TX,75023,JPMORGAN CHASE BANK NATL ASSOC,IL,AccommodationAndFoodServices,2006-08-15,2006,...,Y,N,CHGOFF,"$25,000.00","$12,500.00",Southwest,False,8,1,False

## `Term` (No Cleaning - Problem with aberrant values: 0)

In [23]:
df.query("Term == 0")

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,MIS_Status,GrAppv,SBA_Appv,Region,SameState,ApprovalMonth,ApprovalDoW,Recession
635,1004675006,Katharine Crowley dba K. Crowl,SAN ANSELMO,CA,94960,CALIFORNIA BANK & TRUST,CA,RetailTrade,2001-06-25,2001,...,Y,N,CHGOFF,"$29,000.00","$14,500.00",Southwest,True,6,0,True
673,1004896009,Q & P MARKET INC,BROOKLYN,NY,11226,WELLS FARGO BANK NATL ASSOC,SD,WholesaleTrade,2006-02-07,2006,...,Y,N,CHGOFF,"$30,000.00","$15,000.00",Northeast,False,2,1,False
776,1005505003,"Beckwith Printing, Inc.",LAS VEGAS,NV,89118,CALIFORNIA BANK & TRUST,CA,Manufacturing,2003-01-10,2003,...,Y,N,CHGOFF,"$50,000.00","$25,000.00",Northwest,False,1,4,False
916,1006305004,"C.O.K.Y., Inc.",MIAMI,FL,33145,CALIFORNIA BANK & TRUST,CA,Manufacturing,2003-04-18,2003,...,N,N,CHGOFF,"$150,000.00","$75,000.00",Southeast,False,4,4,False
1084,1007465008,Waldorf Tuxedo LLC,WARWICK,RI,2888,BANK RHODE ISLAND,RI,RealEstateAndRentalAndLeasing,2003-07-31,2003,...,Y,N,CHGOFF,"$150,000.00","$75,000.00",Northeast,True,7,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891986,9847764007,SUNDAY A AZAH dba XPRESSWAY LA,SAN JOSE,CA,95124,WELLS FARGO BANK NATL ASSOC,SD,OtherServicesExceptPublicAdministration,2006-02-02,2006,...,Y,N,CHGOFF,"$16,000.00","$8,000.00",Southwest,False,2,3,False
894913,9900263003,STRATEGIC MOTIVATION RESOURCES,ST. LOUIS,MO,63102,EAGLE BK & TR CO OF MISSOURI,MO,Missing,1997-01-16,1997,...,N,Y,CHGOFF,"$93,000.00","$74,400.00",Northwest,True,1,3,False
895325,9910343007,SIEGEL JEWELERS,GRAND RAPIDS,MI,49501,UNITED BANK OF MICHIGAN,MI,RetailTrade,1997-01-22,1997,...,0,N,CHGOFF,"$1,100,000.00","$748,000.00",Northeast,True,1,2,False
896757,9942393005,"RELICARE, INC.",ELIZABETHTOWN,KY,42701,"PNC BANK, NATIONAL ASSOCIATION",KY,Missing,1997-02-05,1997,...,N,Y,CHGOFF,"$40,000.00","$32,000.00",Southeast,True,2,2,False
898765,9987403010,3 B'S PROVISIONS,NEWFOUNDLAND,PA,18445,"PNC BANK, NATIONAL ASSOCIATION",DE,Missing,1997-02-25,1997,...,Y,N,CHGOFF,"$15,000.00","$7,500.00",Northeast,False,2,1,False

## `NoEmp` (No Cleaning)

## `NewExist`

In [24]:
def encode_NewExist(x: float) -> str:
    if x > 1.5:
        return "Y"
    return "N"

df.NewExist = df.NewExist.map(encode_NewExist)

## `CreateJob` (No Cleaning)

## `RetainedJob` (No Cleaning)

## `FranchiseCode` (YN)

In [25]:
def is_franchise(code: int) -> str:
    return "N" if code in (0, 1) else "Y"

df.FranchiseCode = df.FranchiseCode.map(is_franchise)
df = df.rename(columns = {"FranchiseCode": "Franchise"})

## `UrbanRural` (URM)

In [26]:
df.UrbanRural = df.UrbanRural.map({0: "M", 1: "U", 2: "R"})

## `RevLineCr` (YNUnknow)

In [27]:
def encode_RevLineCr(x: 'object') -> str:
    if x in ("N", "Y"):
        return x
    return "Unknown"

df.RevLineCr = df.RevLineCr.map(encode_RevLineCr)

## `LowDoc` (YN)

In [28]:
def encode_LowDoc(s: "object") -> str:
    if s == "N":
        return s
    return "Y"

df.LowDoc = df.LowDoc.map(encode_LowDoc)

## `GrAppv` (Convert to float)

In [29]:
df.GrAppv = df.GrAppv.map(amount_to_float)

## `SBA_Appv` (No cleaning)

In [30]:
df.SBA_Appv = df.SBA_Appv.map(amount_to_float)

# Check-Up and Export

## Drop `ApprovalDate`, `ApprovalFY`, `City`, `Name` and `Zip`

In [31]:
df = df.drop(columns=["ApprovalDate", "ApprovalFY", "City",
                      "LoanNr_ChkDgt", "Name", "Zip"])

## Reordering Columns

In [32]:
df.columns

Index(['State', 'Bank', 'BankState', 'NAICS', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'Franchise', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'MIS_Status', 'GrAppv', 'SBA_Appv', 'Region', 'SameState',
       'ApprovalMonth', 'ApprovalDoW', 'Recession'],
      dtype='object')

In [33]:
df = df[['State', 'Region', 'Bank', 'BankState', 'SameState',
         'NAICS', 'ApprovalMonth', 'ApprovalDoW', 'Recession',
         'Term', 'NewExist', 'NoEmp', 'CreateJob', 'RetainedJob',
         'Franchise', 'UrbanRural', 'RevLineCr', 'LowDoc',
         'GrAppv', 'SBA_Appv', 'MIS_Status']]

## Checkout `NaN`

In [34]:
df.isna().sum()

State               0
Region              0
Bank                0
BankState           0
SameState           0
NAICS               0
ApprovalMonth       0
ApprovalDoW         0
Recession           0
Term                0
NewExist            0
NoEmp               0
CreateJob           0
RetainedJob         0
Franchise           0
UrbanRural          0
RevLineCr           0
LowDoc              0
GrAppv              0
SBA_Appv            0
MIS_Status       1996
dtype: int64

## Missing Values in Target

In [35]:
df_na_target = df.query("MIS_Status.isna()")

In [36]:
df = df.query("not MIS_Status.isna()")

## 💿 Export

In [37]:
df.to_csv("../data/cleaned_df.csv")

In [38]:
df_na_target.to_csv("../data/cleaned_test.csv")