# Imports And Settings

In [77]:
import category_encoders as ce
import numpy as np
import pandas as pd

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer, OneHotEncoder, StandardScaler

# Loading

In [14]:
%%time
df = pd.read_csv("../data/cleaned_dataset.csv", index_col=0)

CPU times: user 2.31 s, sys: 246 ms, total: 2.56 s
Wall time: 2.56 s

# Droping Useless Columns

In [15]:
df = df.drop(columns=['LoanNr_ChkDgt', 'Name'])

# Separating Features and Target

In [16]:
df.columns

Index(['City', 'State', 'Bank', 'BankState', 'SameState', 'NAICS',
       'ApprovalMonth', 'ApprovalDoW', 'Recession', 'Term', 'NewExist',
       'NoEmp', 'CreateJob', 'RetainedJob', 'Franchise', 'UrbanRural',
       'RevLineCr', 'LowDoc', 'GrAppv', 'SBA_Appv', 'MIS_Status'],
      dtype='object')

In [17]:
X = df.copy()
y = X.pop("MIS_Status")

# Hold-Out

In [21]:
y.value_counts(normalize=True)

MIS_Status
P I F     0.824377
CHGOFF    0.175623
Name: proportion, dtype: float64

In [25]:
# Stratify with y by default
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.05,
                                                    stratify=y)

In [26]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((852267, 20), (44857, 20), (852267,), (44857,))

# Pipelines

## Preprocessing 1: [BINARY ENCODING]

In [34]:
X.nunique()

City             32562
State               51
Bank              5801
BankState           57
SameState            2
NAICS               21
ApprovalMonth       12
ApprovalDoW          7
Recession            2
Term               412
NewExist             2
NoEmp              598
CreateJob          246
RetainedJob        357
Franchise            2
UrbanRural           3
RevLineCr            3
LowDoc               2
GrAppv           22101
SBA_Appv         38288
dtype: int64

In [64]:
# Splitting columns
num_cols = ["Term", "NoEmp", "CreateJob", "RetainedJob",
            "GrAppv", "SBA_Appv"]

bin_cols = df.select_dtypes("bool").columns

nom_cols = ["State", "BankState", "NAICS",
            "UrbanRural", "RevLineCr", "LowDoc"]

cyc_cols = ["ApprovalMonth", "ApprovalDoW"]

bin_enc_cols = ["Bank", "City"]

In [65]:
assert len(num_cols) + len(bin_cols) + len(nom_cols) + len(cyc_cols) + len(bin_enc_cols) == X.shape[1]

### "Simple" Nominal And Numerical Treats

In [56]:
ohe_bin = OneHotEncoder(drop="if_binary", sparse_output=False)
ohe_nom = OneHotEncoder(sparse_output=False)  # No drop="first" with a nonlinear model
std_scl = StandardScaler()

### Cyclical Encoding

In [52]:
class CyclicalEncoder(BaseEstimator, TransformerMixin):
    """Meant to encode time data with cycles (days of week, month...)"""
    def __init__(self, column_name, cycle_length):
        self.column_name = column_name
        self.cycle_length = cycle_length
    
    def fit(self, X, y=None):
        # No fitting needed, implemented for compatibility with sklearn's API
        return self
        
    def transform(self, X, y=None):
        # Apply cyclical encoding directly without needing to fit
        X = X.copy()
        values = X[self.column_name]
        # Create the cyclical features
        X[f'{self.column_name}_sin'] = np.sin(2 * np.pi * values / self.cycle_length)
        X[f'{self.column_name}_cos'] = np.cos(2 * np.pi * values / self.cycle_length)
        # Drop the original column
        X.drop(columns=[self.column_name], inplace=True)
        return X
    
    def get_feature_names_out(self, input_features=None):
        # Generate names for the output features
        return np.array(
          [f'{self.column_name}_sin', f'{self.column_name}_cos'], dtype=object
        )

In [53]:
cyc_dow = CyclicalEncoder("ApprovalDoW", 7)
cyc_mth = CyclicalEncoder("ApprovalMonth", 12)

### Binary Encoding for `Bank` and `City`

In [66]:
bin_enc = ce.BinaryEncoder(cols=bin_enc_cols)

In [67]:
X_train_bin = bin_enc.fit_transform(X_train)

In [68]:
X_train_bin

,City_0,City_1,City_2,City_3,City_4,City_5,City_6,City_7,City_8,City_9,...,NewExist,NoEmp,CreateJob,RetainedJob,Franchise,UrbanRural,RevLineCr,LowDoc,GrAppv,SBA_Appv
49057,0,0,0,0,0,0,0,0,0,0,...,False,56,0,0,False,M,N,N,300000.0,207000.0
227232,0,0,0,0,0,0,0,0,0,0,...,False,11,6,11,False,M,Unknown,N,409900.0,307425.0
239854,0,0,0,0,0,0,0,0,0,0,...,False,18,9,9,False,M,N,N,295000.0,295000.0
668835,0,0,0,0,0,0,0,0,0,0,...,False,15,0,0,False,M,N,N,200000.0,150000.0
99148,0,0,0,0,0,0,0,0,0,0,...,False,2,2,4,False,U,Y,N,12000.0,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511659,0,0,0,0,0,0,0,1,1,1,...,False,9,0,0,False,M,N,N,81000.0,70470.0
441030,0,0,0,1,1,1,1,1,1,0,...,False,4,0,4,False,U,Unknown,N,120000.0,102000.0
198596,0,0,1,1,1,0,0,0,0,0,...,False,3,2,3,False,U,Y,N,25000.0,12500.0
748654,0,0,0,1,1,0,1,0,1,1,...,False,120,0,0,False,M,N,Y,220000.0,154000.0
261098,0,0,0,0,0,0,0,1,0,1,...,False,20,0,0,False,M,N,N,1200000.0,750000.0

In [69]:
X_train_bin.columns

Index(['City_0', 'City_1', 'City_2', 'City_3', 'City_4', 'City_5', 'City_6',
       'City_7', 'City_8', 'City_9', 'City_10', 'City_11', 'City_12',
       'City_13', 'City_14', 'State', 'Bank_0', 'Bank_1', 'Bank_2', 'Bank_3',
       'Bank_4', 'Bank_5', 'Bank_6', 'Bank_7', 'Bank_8', 'Bank_9', 'Bank_10',
       'Bank_11', 'Bank_12', 'BankState', 'SameState', 'NAICS',
       'ApprovalMonth', 'ApprovalDoW', 'Recession', 'Term', 'NewExist',
       'NoEmp', 'CreateJob', 'RetainedJob', 'Franchise', 'UrbanRural',
       'RevLineCr', 'LowDoc', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [73]:
preproc = ColumnTransformer(
    transformers = [
        ("num", std_scl, num_cols),
        ("bin", ohe_bin, bin_cols),
        ("nom", ohe_nom, nom_cols),
        ("cyc_mth", cyc_mth, ["ApprovalMonth"]),
        ("cyc_dow", cyc_dow, ["ApprovalDoW"]),
        ("bin_enc", bin_enc, bin_enc_cols),
    ],
    verbose_feature_names_out=False
)
preproc.set_output(transform="pandas")

ColumnTransformer(transformers=[('num', StandardScaler(),
                                 ['Term', 'NoEmp', 'CreateJob', 'RetainedJob',
                                  'GrAppv', 'SBA_Appv']),
                                ('bin',
                                 OneHotEncoder(drop='if_binary',
                                               sparse_output=False),
                                 Index(['SameState', 'Recession', 'NewExist', 'Franchise'], dtype='object')),
                                ('nom', OneHotEncoder(sparse_output=False),
                                 ['State', 'BankState', 'NAICS', 'UrbanRural',
                                  'RevLineCr', 'Lo...
 3           0       0       0       0       0       0       0       0
 4           0       0       0       0       0       0       0       0
 5           0       0       0       0       0       0       0       0
...        ...     ...     ...     ...     ...     ...     ...     ...
 31886       1       1       1       1       1       0       0       1
 31887       1       1       1       1       1       0       0       1
 31888       1       1       1       1       1       0       0       1
-1           0       0       0       0       0       0       0       0
-2           0       0       0       0       0       0       0       0

        City_8  City_9  City_10  City_11  City_12  City_13  City_14
 1           0       0        0        0        0        0        1
 2           0       0        0        0        0        1        0
 3           0       0        0        0        0        1        1
 4           0       0        0        0        1        0        0
 5           0       0        0        0        1        0        1
...        ...     ...      ...      ...      ...      ...      ...
 31886       0       0        0        1        1        1        0
 31887       0       0        0        1        1        1        1
 31888       0       0        1        0        0        0        0
-1           0       0        0        0        0        0        0
-2           0       0        0        0        0        0        0

[31890 rows x 15 columns]}]),
                                 ['Bank', 'City'])],
                  verbose_feature_names_out=False)

In [75]:
X_train_tr = preproc.fit_transform(X_train)

In [76]:
X_train_tr

,Term,NoEmp,CreateJob,RetainedJob,GrAppv,SBA_Appv,SameState_True,Recession_True,NewExist_True,Franchise_True,...,City_5,City_6,City_7,City_8,City_9,City_10,City_11,City_12,City_13,City_14
49057,0.116457,0.608226,-0.035721,-0.045540,0.378083,0.250932,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
227232,2.398551,-0.005474,-0.010512,0.000606,0.766322,0.690834,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
239854,1.637853,0.089990,0.002093,-0.007784,0.360420,0.636408,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,1
668835,-0.492102,0.049077,-0.035721,-0.045540,0.024818,0.001249,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
99148,-0.339962,-0.128214,-0.027318,-0.028760,-0.639321,-0.629529,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511659,-0.644241,-0.032749,-0.035721,-0.045540,-0.395568,-0.347124,1.0,0.0,0.0,0.0,...,0,0,1,1,1,1,0,1,1,1
441030,2.398551,-0.100938,-0.035721,-0.028760,-0.257794,-0.209010,0.0,1.0,0.0,0.0,...,1,1,1,1,0,1,1,0,1,0
198596,-1.176730,-0.114576,-0.027318,-0.032955,-0.593397,-0.601056,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
748654,0.116457,1.481043,-0.035721,-0.045540,0.095471,0.018771,1.0,0.0,0.0,0.0,...,0,1,0,1,1,0,1,0,0,1
261098,2.398551,0.117266,-0.035721,-0.045540,3.557471,2.629491,0.0,0.0,0.0,0.0,...,0,0,1,0,1,1,0,1,0,0

## Estimator

### Train & Score

In [78]:
rfc = RandomForestClassifier(random_state=0)

In [79]:
model = make_pipeline(preproc, rfc)

In [80]:
model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['Term', 'NoEmp', 'CreateJob',
                                                   'RetainedJob', 'GrAppv',
                                                   'SBA_Appv']),
                                                 ('bin',
                                                  OneHotEncoder(drop='if_binary',
                                                                sparse_output=False),
                                                  Index(['SameState', 'Recession', 'NewExist', 'Franchise'], dtype='object')),
                                                 ('nom',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['State', 'BankState'...
 31887       1       1       1       1       1       0       0       1
 31888       1       1       1       1       1       0       0       1
-1           0       0       0       0       0       0       0       0
-2           0       0       0       0       0       0       0       0

        City_8  City_9  City_10  City_11  City_12  City_13  City_14
 1           0       0        0        0        0        0        1
 2           0       0        0        0        0        1        0
 3           0       0        0        0        0        1        1
 4           0       0        0        0        1        0        0
 5           0       0        0        0        1        0        1
...        ...     ...      ...      ...      ...      ...      ...
 31886       0       0        0        1        1        1        0
 31887       0       0        0        1        1        1        1
 31888       0       0        1        0        0        0        0
-1           0       0        0        0        0        0        0
-2           0       0        0        0        0        0        0

[31890 rows x 15 columns]}]),
                                                  ['Bank', 'City'])],
                                   verbose_feature_names_out=False)),
                ('randomforestclassifier',
                 RandomForestClassifier(random_state=0))])

In [81]:
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.933722718862162

### Feature Importances

#### Basic Analysis

In [83]:
importances = model[-1].feature_importances_

In [92]:
indices = np.argsort(importances)[::-1]
feat_labels = X_train_tr.columns
feat_labels

Index(['Term', 'NoEmp', 'CreateJob', 'RetainedJob', 'GrAppv', 'SBA_Appv',
       'SameState_True', 'Recession_True', 'NewExist_True', 'Franchise_True',
       ...
       'City_5', 'City_6', 'City_7', 'City_8', 'City_9', 'City_10', 'City_11',
       'City_12', 'City_13', 'City_14'],
      dtype='object', length=179)

In [95]:
for f in range(X_train_tr.shape[1]):
    print("%2d) %-*s %f" % (f + 1,
                            85,
                            feat_labels[indices[f]],
                            importances[indices[f]]))

 1) Term                                                                                  0.325991
 2) SBA_Appv                                                                              0.047149
 3) GrAppv                                                                                0.044750
 4) RetainedJob                                                                           0.027524
 5) NoEmp                                                                                 0.027222
 6) ApprovalMonth_cos                                                                     0.019825
 7) ApprovalMonth_sin                                                                     0.019815
 8) SameState_True                                                                        0.017091
 9) ApprovalDoW_sin                                                                       0.015899
10) Recession_True                                                                        0.015086
11) CreateJob                                                                             0.013881
12) UrbanRural_M                                                                          0.012892
13) ApprovalDoW_cos                                                                       0.012856
14) UrbanRural_U                                                                          0.011000
15) Bank_9                                                                                0.009437
16) BankState_CA                                                                          0.009335
17) Bank_8                                                                                0.008922
18) Bank_12                                                                               0.008760
19) RevLineCr_Y                                                                           0.008637
20) Bank_10                                                                               0.008520
21) Bank_11                                                                               0.008347
22) NewExist_True                                                                         0.007616
23) City_13                                                                               0.007540
24) City_10                                                                               0.007523
25) RevLineCr_N                                                                           0.007520
26) City_12                                                                               0.007474
27) City_11                                                                               0.007441
28) RevLineCr_Unknown                                                                     0.007440
29) City_9                                                                                0.007430
30) City_14                                                                               0.007428
31) Bank_6                                                                                0.007413
32) City_8                                                                                0.007394
33) City_7                                                                                0.007358
34) City_6                                                                                0.007354
35) Bank_7                                                                                0.007291
36) City_5                                                                                0.007208
37) City_4                                                                                0.006915
38) Bank_5                                                                                0.006227
39) City_3                                                                                0.006220
40) BankState_NC                                                                          0.006105
41) NAICS_unknown                                                                         0.005609
42) State_CA                                                                              0.005434
43) BankState_RI                                                                          0.005268
44) City_2                                                                                0.005186
45) BankState_VA                                                                          0.005041
46) Bank_4                                                                                0.005009
47) NAICS_retail_trade                                                                    0.004770
48) Bank_3                                                                                0.004117
49) City_1                                                                                0.003735
50) NAICS_accomodation_and_food_services                                                  0.003705
51) NAICS_other_services_except_public_administration                                     0.003487
52) UrbanRural_R                                                                          0.003302
53) State_NY                                                                              0.003298
54) BankState_OH                                                                          0.003241
55) NAICS_construction                                                                    0.003182
56) BankState_IL                                                                          0.003156
57) NAICS_manufacturing                                                                   0.003018
58) State_FL                                                                              0.002997
59) Bank_2                                                                                0.002997
60) Franchise_True                                                                        0.002973
61) State_TX                                                                              0.002914
62) NAICS_professionnal_scientific_and_technical_services                                 0.002873
63) NAICS_health_care_and_social_assistance                                               0.002775
64) BankState_NY                                                                          0.002746
65) LowDoc_Y                                                                              0.002732
66) NAICS_wholesale_trade                                                                 0.002700
67) LowDoc_N                                                                              0.002536
68) State_PA                                                                              0.002509
69) BankState_SD                                                                          0.002371
70) State_NJ                                                                              0.002301
71) State_IL                                                                              0.002234
72) City_0                                                                                0.002130
73) BankState_DE                                                                          0.002102
74) NAICS_administrative_and_support_and_waste_management_and_remediation_services        0.002016
75) State_OH                                                                              0.001971
76) BankState_TX                                                                          0.001966
77) NAICS_transportation_and_warehousing                                                  0.001910
78) State_GA                                                                              0.001863
79) State_MI                                                                              0.001851
80) Bank_1                                                                                0.001747
81) State_MA                                                                              0.001614
82) BankState_FL                                                                          0.001536
83) BankState_PA                                                                          0.001491
84) NAICS_arts_entertainment_and_recreation                                               0.001378
85) State_MO                                                                              0.001368
86) NAICS_real_estate_and_rental_and_leasing                                              0.001336
87) State_CO                                                                              0.001332
88) BankState_UT                                                                          0.001301
89) State_UT                                                                              0.001298
90) State_WA                                                                              0.001293
91) State_CT                                                                              0.001286
92) State_AZ                                                                              0.001271
93) State_WI                                                                              0.001187
94) State_MN                                                                              0.001151
95) BankState_OR                                                                          0.001138
96) State_IN                                                                              0.001135
97) State_VA                                                                              0.001123
98) State_NC                                                                              0.001104
99) NAICS_information                                                                     0.001064
100) BankState_MN                                                                          0.001062
101) State_MD                                                                              0.001040
102) State_TN                                                                              0.000958
103) BankState_MO                                                                          0.000944
104) BankState_GA                                                                          0.000919
105) BankState_AL                                                                          0.000914
106) BankState_WI                                                                          0.000914
107) Bank_0                                                                                0.000910
108) State_KS                                                                              0.000875
109) NAICS_finance_and_insurance                                                           0.000872
110) BankState_CT                                                                          0.000855
111) State_NH                                                                              0.000846
112) State_KY                                                                              0.000832
113) State_NV                                                                              0.000826
114) State_LA                                                                              0.000822
115) State_IA                                                                              0.000815
116) State_OK                                                                              0.000787
117) NAICS_educational_services                                                            0.000734
118) State_OR                                                                              0.000734
119) BankState_MA                                                                          0.000727
120) State_ID                                                                              0.000722
121) State_AL                                                                              0.000716
122) NAICS_agriculture_forestry_fishing_and_hunting                                        0.000714
123) State_ME                                                                              0.000701
124) BankState_SC                                                                          0.000675
125) State_AR                                                                              0.000662
126) State_SC                                                                              0.000655
127) State_MS                                                                              0.000642
128) BankState_IA                                                                          0.000625
129) BankState_AR                                                                          0.000611
130) State_RI                                                                              0.000586
131) BankState_NJ                                                                          0.000584
132) BankState_KS                                                                          0.000574
133) BankState_IN                                                                          0.000565
134) BankState_TN                                                                          0.000563
135) BankState_WA                                                                          0.000556
136) BankState_CO                                                                          0.000519
137) State_MT                                                                              0.000515
138) State_NE                                                                              0.000512
139) BankState_MS                                                                          0.000504
140) State_NM                                                                              0.000503
141) BankState_MD                                                                          0.000503
142) BankState_OK                                                                          0.000495
143) BankState_MI                                                                          0.000483
144) BankState_KY                                                                          0.000424
145) BankState_MT                                                                          0.000424
146) State_WV                                                                              0.000402
147) BankState_NE                                                                          0.000392
148) BankState_LA                                                                          0.000386
149) BankState_NH                                                                          0.000385
150) State_VT                                                                              0.000376
151) BankState_NV                                                                          0.000374
152) State_ND                                                                              0.000361
153) BankState_ND                                                                          0.000341
154) State_AK                                                                              0.000331
155) BankState_ID                                                                          0.000328
156) BankState_ME                                                                          0.000315
157) BankState_NM                                                                          0.000308
158) State_HI                                                                              0.000303
159) BankState_DC                                                                          0.000281
160) State_SD                                                                              0.000276
161) BankState_AZ                                                                          0.000274
162) State_DE                                                                              0.000260
163) BankState_VT                                                                          0.000259
164) BankState_WV                                                                          0.000248
165) State_WY                                                                              0.000240
166) BankState_HI                                                                          0.000214
167) State_DC                                                                              0.000213
168) NAICS_mining_quarrying_and_oil_and_gas_extraction                                     0.000174
169) BankState_AK                                                                          0.000137
170) BankState_WY                                                                          0.000129
171) BankState_Missing                                                                     0.000079
172) NAICS_utilities                                                                       0.000079
173) BankState_PR                                                                          0.000045
174) NAICS_public_administration                                                           0.000036
175) NAICS_management_of_companies_and_entreproses                                         0.000018
176) BankState_EN                                                                          0.000000
177) BankState_GU                                                                          0.000000
178) BankState_VI                                                                          0.000000
179) BankState_AN                                                                          0.000000

In [96]:
feat_labels[indices]

Index(['Term', 'SBA_Appv', 'GrAppv', 'RetainedJob', 'NoEmp',
       'ApprovalMonth_cos', 'ApprovalMonth_sin', 'SameState_True',
       'ApprovalDoW_sin', 'Recession_True',
       ...
       'BankState_WY', 'BankState_Missing', 'NAICS_utilities', 'BankState_PR',
       'NAICS_public_administration',
       'NAICS_management_of_companies_and_entreproses', 'BankState_EN',
       'BankState_GU', 'BankState_VI', 'BankState_AN'],
      dtype='object', length=179)

In [133]:
pd.set_option("display.max_rows", None)

df_imp = (
    pd.DataFrame({
        "feature": feat_labels[indices],
        "importance %": importances
    })
    .set_index("feature")
    .mul(100)
)

In [135]:
df_imp.head()

             importance %
feature
Term            32.599119
SBA_Appv         2.722229
GrAppv           1.388092
RetainedJob      2.752430
NoEmp            4.475010

In [136]:
styled_df_imp = df_imp.style.format("{:.3f}")
styled_df_imp

In [137]:
# Get back to default settings
pd.reset_option("display.max_rows")
pd.reset_option("display.max_columns")

#### Elaborated Analysis

In [138]:
df_imp.head()

             importance %
feature
Term            32.599119
SBA_Appv         2.722229
GrAppv           1.388092
RetainedJob      2.752430
NoEmp            4.475010

In [139]:
df_imp.query("feature.str.contains('Bank')").sum()

importance %    27.87812
dtype: float64

In [155]:
def get_agg_importance(feat: str) -> float:
    """
    Get an aggregated feature importance for an encoded feature
    """
    print(f"Aggregated Importance for feature {feat}")
    return df_imp.query("feature.str.startswith(@feat + '_')").sum()

In [156]:
get_agg_importance("Bank")

Aggregated Importance for feature Bank

importance %    2.043684
dtype: float64

In [157]:
bin_cols

Index(['SameState', 'Recession', 'NewExist', 'Franchise'], dtype='object')

In [158]:
cols_to_agg = [bin_cols, nom_cols, cyc_cols, bin_enc_cols]

In [159]:
for col_type in cols_to_agg:
    for col in col_type:
        print(get_agg_importance(col))

Aggregated Importance for feature SameState
importance %    1.508572
dtype: float64
Aggregated Importance for feature Recession
importance %    0.297254
dtype: float64
Aggregated Importance for feature NewExist
importance %    0.030332
dtype: float64
Aggregated Importance for feature Franchise
importance %    0.040177
dtype: float64
Aggregated Importance for feature State
importance %    12.060882
dtype: float64
Aggregated Importance for feature BankState
importance %    25.834436
dtype: float64
Aggregated Importance for feature NAICS
importance %    3.955369
dtype: float64
Aggregated Importance for feature UrbanRural
importance %    0.226313
dtype: float64
Aggregated Importance for feature RevLineCr
importance %    0.332651
dtype: float64
Aggregated Importance for feature LowDoc
importance %    0.994556
dtype: float64
Aggregated Importance for feature ApprovalMonth
importance %    6.423963
dtype: float64
Aggregated Importance for feature ApprovalDoW
importance %    0.82782
dtype: float64
Aggregated Importance for feature Bank
importance %    2.043684
dtype: float64
Aggregated Importance for feature City
importance %    1.453999
dtype: float64

#### Results Within a Dataset

In [192]:
df_num = (df_imp
 # .reset_index()
 .query("not feature.str.contains('_')")
)
df_num

             importance %
feature
Term            32.599119
GrAppv           1.388092
RetainedJob      2.752430
NoEmp            4.475010
CreateJob        0.033110

In [193]:
df_sba = (df_imp
 # .reset_index()
 .query("feature == 'SBA_Appv'")
)
df_sba

          importance %
feature
SBA_Appv      2.722229

In [194]:
df_nom = (df_imp
 .query("feature.str.contains('_') and not feature.str.contains('SBA')")
 .rename(index=lambda x: x.split("_")[0])
 .groupby("feature").sum()
 # .reset_index()
)
df_nom

               importance %
feature
ApprovalDoW        0.827820
ApprovalMonth      6.423963
Bank               2.043684
BankState         25.834436
City               1.453999
Franchise          0.040177
LowDoc             0.994556
NAICS              3.955369
NewExist           0.030332
Recession          0.297254
RevLineCr          0.332651
SameState          1.508572
State             12.060882
UrbanRural         0.226313

In [199]:
df_imp_agg = (pd.concat([df_num, df_sba, df_nom])
 .sort_values("importance %", ascending=False)
)
df_imp_agg

               importance %
feature
Term              32.599119
BankState         25.834436
State             12.060882
ApprovalMonth      6.423963
NoEmp              4.475010
NAICS              3.955369
RetainedJob        2.752430
SBA_Appv           2.722229
Bank               2.043684
SameState          1.508572
City               1.453999
GrAppv             1.388092
LowDoc             0.994556
ApprovalDoW        0.827820
RevLineCr          0.332651
Recession          0.297254
UrbanRural         0.226313
Franchise          0.040177
CreateJob          0.033110
NewExist           0.030332

## Preprocessing 2 [TARGET ENCODING]

### Based on `category_encoders`